* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0%;
    margin: 0%;
}


body {
    font-family: 'Arial', sans-serif;
    background-image: url(img/back\ img.jpeg);
    background-size: cover;
    background-repeat: no-repeat;

}


@keyframes snow-fall {
    from {
        background-position: 0px 0px;
    }

    to {
        background-position: 500px 1000px;
        /* Moves the background down and right */
    }
}




.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: 0px 10px 20px, 0px 6px 6px;
}

.navbar-links {
    display: flex;
    column-gap: 20px;
}

.navbar-links a {
    text-decoration: none;
    /* color: #1D232c; */
    color: white;
}

.navbar-links a:hover {
    text-decoration: underline;
    /* color: #1D232c; */
    color: aqua;
}



.navbar-menu-toggle {
    display: none;
}

/* side navbar */

.side-navbar {
    /* background-color: #1D232c; */
    box-shadow: 0 0 40px, 0px 0px 40px;
    backdrop-filter: blur(10px);
    z-index: 1000;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: -60%;
    padding: 20px;
    color: white;
    transition: 2s;

}

.side-navbar-link {
    margin-bottom: 30px;
}

.side-navbar-links a {
    text-decoration: none;
    color: white;
}

.side-navbar-links a:hover {
    text-decoration: underline;
    color: aqua;
}

/* headder */

.header {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    padding-top: 80px;
    color: white;
}

.header-button {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
    background-color: #1D232c;
    color: white;
    cursor: pointer;
}

.service {
    padding: 20px;
    color: white;

}

.service-container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.service-container-2 div {
    /* background-color: #f2f4f7; */
    backdrop-filter: blur(20px);
    color: #f2f4f7;
    border-radius: 5px;
    padding: 10px;

}

.new-arrival {

    display: flex;
    justify-content: space-around;

}

.new-arrival-container {
    position: relative;
    flex-basis: 20%;
}

.new-arrival button {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
    margin-top: 10%;
    color: #1D232c;
    position: absolute;
    top: 50%;
    left: 18%;
    border-radius: 10px;
    background-color: #f2f4f7;
    border: none;
    width: 80%;
}

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: #f2f4f7;
}

.news input {
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border-radius: 2px;
    background: transparent;
    border: solid #f2f4f7;
}

.news button {
    margin-top: 10px;
    color: #f2f4f7;
    background-color: #1D232c;
    width: 100%;
    border-radius: 10px;
    padding: 10px;




}

.footer {

    margin-top: 20px;
    padding: 40px;
    /* background-color: #1D232c; */
    color: #f2f4f7;
    box-shadow: 0 0 40px, 0px 0px 40px;
}

.product-section {
    margin-top: 20px;
}

.product-search {
    width: 80%;
    border: solid #f2f4f7 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
    margin-top: 80px;
}

.product-search input {
    border: none;
    background-color: transparent;
    width: 100%;
    color: #f2f4f7;
}


.product-search input::placeholder {
    color: #f2f4f7;
}

.product-search input:focus {
    outline: none;
}


.products {
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-box {
    text-align: center;
    flex-basis: 20%;
}

.product-box img {
    border-radius: 10px;
}


.contact {
    border-radius: 5px;
    color: #f2f4f7;
    margin-left: 25%;
    margin-top: 80px;
    margin-bottom: 10%;
    margin-right: 25%;
    width: 50%;
    padding-top: 60px;
    padding-bottom: 70px;
    padding-left: 30px;
    padding-right: 35px;
    box-shadow: 0 0 40px, 0px 0px 40px;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
    width: 90%;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    background: transparent;
    font-size: 16px;
}

.contact textarea {
    resize: vertical;
}




button {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 40%;
    background: transparent;
    color: white;
    cursor: pointer;


}





/* media query */
@media screen and (max-width:700px) {
    .navbar-menu-toggle {
        display: block;
    }

    .navbar-links {
        display: none;
    }

    .header-image {
        display: none;
    }

    .service-container-1 {
        display: none;
    }

    .service-container-2 {
        flex-direction: column;
    }

    .contact{
        width: 95%;
        margin-left: 2.9%;
    }


}